*{
    padding: 0;
    margin: 0;
    background-color:lightcyan;
}
.can{
    width: 10px;
}
.icon-green{
    color: blue;
}
.file{
    background-color: lightblue;
}
.fil{
    background-color: lightcoral;
}
.dark{
    background-color: white;
}
.